

.usa{
    background: #144c75b0;
}
.europe{
    background: rgba(241, 50, 231, 0.397) ;
}
.asia{
    background: rgba(255, 0, 0, 0.432);
}
.none{
    background: #144c75b0 ;
}
.africa{
    background: rgba(255, 255, 0, 0.459);
}
.australia{
    background: rgba(255, 166, 0, 0.466);
}